body {
            font-family: 'Kanit', sans-serif;
            margin: 0;
			padding:0;
            background-color: #eeeeee;
            color: black;
			line-height: 1.6;
            background-image: url(https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-139.jpg);
			background-repeat: no-repeat;
			background-attachment: fixed;  
			background-size: cover;
		}
		
        header {
            background-color: #3F72AF;
            padding: 1px ;
            color: white;
            text-align: center;
		}
		
		nav {
            display: flex;
            justify-content: center;
            background-color: #112D4E;
        }
		
		nav a {
            color: white;
            padding: 14px 50px;
            text-decoration: none;
            text-align: center;
            border-radius: 15px;
        }
		
		nav ul{
			list-style-type: none;
            display: flex;
            justify-content: center;
		}
        nav ul li {
        margin: 0 15px;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-weight: bold;
            padding: 10px 15px;
            position: relative;
            transition: color 0.3s ease;
        }

        nav ul li a::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: #DBE2EF;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
        }

        nav ul li a:hover::before {
            visibility: visible;
            transform: scaleX(1);
        }

        nav ul li a:hover {
            color: #DBE2EF;
        }

        @media (max-width: 768px) {
            nav ul {
                flex-direction: column;
                align-items: center;
            }

            nav ul li {
                margin: 10px 0;
            }
        }
        
		section {
			padding: 20px;
            margin: 80px 110px;
			border: 0px solid #1B262C;
			border-radius: 30px;
			text-align: left;
			background-color: #DBE2EF;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);           
		}
		
		footer {
            text-align: center;
            padding: 10px 0;
            background-color: #112D4E;
            color: white;  
            
        }
		
		article {
			background-color: #F9F7F7;
			padding: 20px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);	
		}

		aside{
			width: 30%; 
			background-color: #DBE2EF;
			padding: 20px;
			box-sizing: border-box;		
			height: inherit;
			margin-bottom: 80px;
			margin-left: 100px;
			margin-top: 80px;
		}
        
		.main-content { 
			display: flex;
			flex-direction: column;
			width: 100%;
			box-sizing:border-box;
		}
		
		table{
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
			border:1px solid black; 
		}

		td, th {
			border: 1px solid black;
			text-align: left;
			padding: 8px;
			width: 30%;
		}
		
		.container {
			display: flex;
			flex-direction: row; 
		}	

		.center{
			text-align: center;
		}


		#loading-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            visibility: hidden;
        }

		.pyramid-loader {
            position: relative;
            width: 100px;
            height: 100px;
            transform-style: preserve-3d;
            transform: rotateX(-20deg);
        }

        .wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            animation: spin 4s linear infinite;
        }

        @keyframes spin {
            100% {
                transform: rotateY(360deg);
            }
        }

        .side {
            width: 70px;
            height: 70px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transform-origin: center top;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }

        .side1 {
            transform: rotateZ(-30deg) rotateY(90deg);
            background: conic-gradient(#2f2585, #7CF5FF, #F9F7F7, #2BDEAC);
        }

        .side2 {
            transform: rotateZ(30deg) rotateY(90deg);
            background: conic-gradient(#2BDEAC, #F9F7F7, #7CF5FF, #2f2585);
        }

        .side3 {
            transform: rotateX(30deg);
            background: conic-gradient(#2BDEAC, #F9F7F7, #7CF5FF, #2f2585);
        }

        .side4 {
            transform: rotateX(-30deg);
            background: conic-gradient(#2f2585, #7CF5FF, #F9F7F7, #2BDEAC);
        }

        .shadow {
            width: 60px;
            height: 60px;
            background: #2f2585;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transform: rotateX(90deg) translateZ(-40px);
            filter: blur(12px);
        }
		
		.gallery-container {
            max-width: auto;
            width: auto;
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }

        
        .gallery-item {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
			border-color: #008bf8;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

        .gallery-item img {
            width: 100%;
            display: block;
            transition: transform 0.5s ease;
			object-fit: cover;
			height: 250px;
        }

        
        .gallery-item:hover img {
            transform: scale(1.1);
        }

        
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.6);
            color: white;
            text-align: center;
            padding: 10px;
            opacity: 0;
            transition: opacity 0.3s ease;		
        }

        .gallery-item:hover .overlay {
            opacity: 1;
        }
